<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAzg3nJi44-ucVIt9ev_tMjOjN4gaWwdsE</string>
	<key>GCM_SENDER_ID</key>
	<string>1086245508574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sdpi.schat</string>
	<key>PROJECT_ID</key>
	<string>schat-aa86b</string>
	<key>STORAGE_BUCKET</key>
	<string>schat-aa86b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086245508574:ios:bfa0fa9913f60b6e2e794f</string>
</dict>
</plist>